<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="Castle.Core-log4net" version="4.3.1" targetFramework="net471" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net471" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net471" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net471" />
  <package id="MongoDB.Lightweight.Embedded" version="1.0.1" targetFramework="net471" />
</packages>